* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    position: relative;
    min-height: 100vh;
}

.container {
    width: 850px;
    margin: auto;
}

.window {
    width: 808px;
    height: 606px;
    margin: 10px auto;
    overflow: hidden;
}

.images {
    display: flex;
    transition: all 1s;
    transform: translateX(-808px);
}

.images>img {
    width: 100%;
}

#particles-js {
    z-index: -1;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background: #5B5B5B;
}